# Python cache / compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.log

# Virtual environments
.venv/
venv/
env/

# Jupyter Notebook execution metadata
.ipynb_checkpoints/

# Build / packaging
dist/
build/

# IDE / Editor settings
.vscode/
.idea/

# MacOS Finder files
.DS_Store
